* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* For mobile phones: */
body {
	font-family: "Roboto", sans-serif;
}

/* header  */

header {
	/* height: 60vh; */
	background-color: white;
	text-align: center;
	border-top: 3px solid grey;
	padding-left: 0 !important;
}

header img {
	height: 9.5rem;
	margin: 0.6rem 0;
}

.icons {
	text-align: center;
	font-size: 26px;
}

.icons a {
	padding-right: 0.8rem;
}

a {
	text-decoration: none;
	color: brown;
}

a:hover {
	color: rgb(0, 65, 139);
	text-decoration: none;
}

/* navbar  */
nav {
	text-align: center;
}
nav a {
	color: black;
	text-decoration: none !important;
	font-size: 1.1rem;
}

h1 {
	font-family: "Anton", sans-serif;
	letter-spacing: 6px;
	word-spacing: 16px;
}

section {
	min-height: 100vh;
}

/* body elements  */
#about {
	padding-top: 0.9rem;
	padding-left: 2.9rem;
	border-top: 5px solid rgba(0, 0, 0, 0.4);
	border-top-width: 0.5rem;
	margin-top: 1rem;
}

/* education  */
#education {
	padding-top: 6px;
	padding-left: 1.9rem;
}

#education p {
	border: #111;
}

#education h4 span {
	color: rgba(0, 0, 0, 0.4);
	font-size: 1.3rem;
}

#education h5 a {
	text-decoration: none;
}
#education h5 a:hover {
	color: black;
}

#education p span {
	font-weight: 700;
}

#experience {
	padding-left: 1.9rem;
}

#projects {
	display: none;
}

h2 {
	color: goldenrod;
}

h3 {
	text-align: center;
	text-decoration: underline;
}

aside {
	padding-left: 2.9rem;
}

#skills {
	padding-bottom: 3rem;
}

#skills h3 {
	text-align: left;
	padding-bottom: 0.7rem;
}

#skills ul {
	padding-left: 3.4rem;
}

.column-2 {
	column-count: 2;
}

/* volunteer  */
#volunteer h3 {
	text-align: left;
}

#volunteer a {
	text-decoration: none;
	font-weight: 500;
}

#volunteer a:hover {
	color: black;
}

#volunteer span {
	color: rgba(0, 0, 0, 0.4);
	font-weight: 700;
}

.resume {
	text-align: center;
	padding: 2rem;
}

.resume a {
	text-decoration: none !important;
}

.resume a:hover {
	color: black;
}

body > a {
	color: black;
}

footer {
	text-align: center;
	width: 100%;
	min-height: 40px;
	background-color: #535c68;
}

/* fonts  

font-family: 'Anton', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Piedra', cursive;
font-family: 'Roboto', sans-serif;
*/

@media only screen and (min-width: 768px) {
	/* For desktop: */

	body {
		font-family: "Roboto", sans-serif;
	}
}
