* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* For mobile phones: */
body {
	font-family: "Roboto", sans-serif;
}

.wrap-one {
	background-color: gray;
	height: 0.5rem;
}

/* header  */

header {
	text-align: center;
	margin-left: 3rem;
	padding-left: 0 !important;
}

header img {
	height: 7.5rem;
	padding-top: 1rem 0 0.5rem 0;
}

.icons {
	font-size: 26px;
}

.links1 a:hover {
	color: brown;
}

a {
	text-decoration: none;
	color: brown;
}

a:hover {
	color: rgb(0, 65, 139);
	text-decoration: none;
}

/* navbar  */

nav a {
	color: black;
	text-decoration: none !important;
	font-size: 1.1rem;
}

.wrap-two {
	background-color: gray;
	height: 3rem;
	color: white !important;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.sticky-content {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 100;
}

h1 {
	font-family: "Anton", sans-serif;
	letter-spacing: 6px;
	word-spacing: 16px;
}

section {
	min-height: 100vh;
}

/* body elements  */
#about {
	padding: 0.9rem 0.9rem 3rem 1.9rem;
	border-top: 5px solid rgba(0, 0, 0, 0.1);
	margin-top: 1rem;
	text-align: justify;
}

.teal {
	color: mediumseagreen;
}

.teal:hover {
	color: #111;
	cursor: pointer;
}

/* experience  */
#experience {
	/* background-image: url("./images/bg/bg.png"); */
	margin: 3rem 0;
	padding-left: 1.9rem;
}

/* education  */
#education {
	padding-top: 6px;
	padding-left: 1.9rem;
}

#education p {
	border: #111;
}

#education h4 span {
	color: rgba(0, 0, 0, 0.4);
	font-size: 1.3rem;
}

#education h5 a {
	text-decoration: none;
}

#education h5 a:hover {
	color: black;
}

#education p span {
	font-weight: 700;
}

#projects {
	display: none;
}

h2 {
	color: #333;
	margin-bottom: 20px;
	text-decoration: underline;
}

h3 {
	text-align: center;
	text-decoration: underline;
	font-weight: 200;
	margin-bottom: 60px;
	margin-top: 0;
	padding: 30px 40px;
}

aside {
	padding-left: 2.9rem;
}

aside::before {
	content: "";
	display: table;
}

/* skills  */
#skills {
	padding-bottom: 3rem;
}

#skills h3 {
	text-align: left;
	padding-bottom: 0.7rem;
}

#skills ul {
	padding-left: 3.4rem;
}

.column-2 {
	column-count: 2;
}

/* volunteer  */
#volunteer h3 {
	text-align: left;
}

#volunteer a {
	text-decoration: none;
	font-weight: 500;
}

#volunteer a:hover {
	color: black;
}

#volunteer span {
	color: rgba(0, 0, 0, 0.4);
	font-weight: 700;
}

.resume {
	text-align: center;
	padding: 2rem;
}

.resume a {
	text-decoration: none !important;
}

.resume a:hover {
	color: black;
}

body > a {
	color: black;
}

#bottom i {
	font-size: 1.4rem;
	color: rgba(0, 0, 0, 0.8);
}

footer {
	text-align: center;
	width: 100%;
	min-height: 40px;
	background-color: #535c68;
}

/* fonts  

font-family: 'Anton', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Piedra', cursive;
font-family: 'Roboto', sans-serif;
*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	/* For desktop: */

	header {
		text-align: left;
		flex-direction: row;
		padding-bottom: 2rem 0;
		background-color: white;
	}

	#top {
		display: grid;
		grid-template-columns: auto 4fr 1fr;
	}

	header img {
		padding: 1rem 1rem 2rem 4.4rem;
		height: 12.5rem;
		border-radius: 10%;
	}

	#header-info {
		padding: 1rem 2rem;
	}

	header nav {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}

	.wrap-two {
		display: flex;
		justify-content: left;
		padding-left: 8rem;
	}

	.wrap-two-two {
		padding-left: 5rem !important;
	}

	body {
		font-family: "Roboto", sans-serif;
		background-color: #c7cdd2 !important;
	}

	/* body main  */
	.content {
		display: grid;
		grid-template-columns: 3fr 1.5fr;
	}

	section {
		padding: 2rem 1rem 1rem 4rem;
	}
	#about {
		background-color: white;
	}
	.card {
		max-width: 90%;
		padding: 0 auto;
	}

	#experience {
		background-color: white;
	}

	#education {
		background-color: white;
	}

	/* aside  */

	aside {
		margin: 2rem 4rem 1rem 0;
	}

	#skills {
		background-color: white;
		padding-left: 1.3rem;
	}
	#volunteer {
		background-color: white;
		padding-left: 1.3rem;
		padding-bottom: 2rem;
	}

	.resume {
		background-color: white;
		padding: 1rem;
		margin-top: 2rem;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
