header {
    height: 150px;
    background-color: antiquewhite;
    padding: 15px;
    border-bottom: 3px solid black;
}

h1 {
    letter-spacing: 3px;
    word-spacing: 6px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-end;
    justify-content: space-between;
    background-color: lightgoldenrodyellow;
    border-bottom: 3px solid black;
}

.icons {
    font-size: 20px;
}